<ion-content padding id="login">


  <!-- Les divs du logo et des texte titre/slogan -->
  <div id="logo">
    <img src="/assets/imgs/logo-02.png">
  </div>

  <div>
    <p id="titre">ValetStyle</p>
    <p id="slogan">Une application à la mode.</p>
  </div>

<!-- Form avec les differents input et bouton-->
  <form [formGroup]="loginForm" (ngSubmit)="loginUser($event)" novalidate>

    <ion-item>
      <ion-label stacked>Votre courriel</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Votre Courriel" [class.invalid]="!loginForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>S'il vous plaît entrer un courriel valide.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Votre mot de passe</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Password" [class.invalid]="!loginForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Votre mot de passe nécessite plus de 6 caractères.</p>
    </ion-item>

    <button class="btnLogin" ion-button block type="submit">Se Connecter</button>

  </form>

  <!-- Div avec les boutons s'enregistrer et mot de passe oublie -->
  <div align="center">
      <button ion-button small clear (click)="goToSignup()">S'Enregistrer</button>
      <button ion-button small clear (click)="goToResetPassword()">Mot de passe oublié?</button>
  </div>
  
</ion-content>