page-bienvenue {

    #bienvenue{
        background: color($colors, primary);

        #titre{
            font-size: 45px;
            margin-top: 50px;
            font-family: Cabin; 
            color: white;
        }

        #slogan{
            font-size: 15px;
            font-family: Open Sans; 
            color: white;
        }

        #btndiv {
            margin-top: 40px;
        }

        button {
            margin-bottom: 10px;
        }

        video {
            margin: -17px;
            position: fixed;
            min-width: 100%;
            min-height: 100%;
            width: auto;
            height: auto;
            z-index: -100;
        }
    }
}
