page-bienvenue {

    #bienvenue{
        background: url("../assets/imgs/back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        width: 100vw;
        height: 100vh;
        z-index: -100;

        #logo {
            width: 20px;
            height: 20px;
            position: relative;
        }

        #titre{
            text-align: center;
            font-size: 45px;
            margin-top: 50px;
            font-family: Cabin; 
            color: white;
        }

        #slogan{
            text-align: center;
            font-size: 25px;
            font-family: Open Sans; 
            color: white;
            margin-bottom: 250px;
        }

        #btndiv {
            margin-top: 40px;
        }

        button {
            margin-bottom: 10px;
        }
    }
}
