page-bienvenue {

    #bienvenue{
        background: url("../assets/imgs/back.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: fixed;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;

        #titre{
            font-size: 45px;
            margin-top: 50px;
            font-family: Cabin; 
            color: white;
        }

        #slogan{
            text-transform: capitalize;
            font-size: 15px;
            font-family: Open Sans; 
            color: white;
        }

        #btndiv {
            margin-top: 40px;
        }

        button {
            margin-bottom: 10px;
        }
    }
}
