<ion-content padding id="signup">
  
  <!-- Titre -->
    <div id="txtApp">
      <p id="slogan">Créer un compte !</p>
    </div>


  <!-- Form avec les inputs et boutons -->
  <form [formGroup]="signupForm" (ngSubmit)="signupUser($event)" novalidate>
     
    <ion-item>
      <ion-label stacked>Courriel</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="nom@domaine.com" [class.invalid]="!signupForm.controls.email.valid && (emailChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (emailChanged || submitAttempt)">
      <p>S'il vous plaît entrer un courriel valide.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Mot de passe</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="mot de passe" [class.invalid]="!signupForm.controls.password.valid && (passwordChanged || submitAttempt)"></ion-input>
    </ion-item>

    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (passwordChanged || submitAttempt)">
      <p>Nécessite plus de 6 caractères.</p>
    </ion-item>

    <!-- Btn Creer dans la form -->
    <button ion-button block type="submit">Créer mon compte</button>

  </form>

  <!-- Btn Retour -->
  <div align="center">
    <button ion-button small clear (click)="goToLogin()">Retour</button>
  </div>

</ion-content>